<div class="bookDetails">
  <h2>Post Details</h2>

  <table>
    <tr>
      <td>Post Id {{post?.id}}</td><td></td>
    </tr>
    <tr>
      <td>Title</td><td>{{post?.title}}</td>
    </tr>
    <tr>
      <td>Author</td><td>{{post?.author}}</td>
    </tr>
    <tr>
      <td>Description</td><td>{{post?.description}}</td>
    </tr>
    <tr>
      <td>Created</td><td>{{post?.date}}<span>{{post!.time}}</span></td>
    </tr>
    <tr>
      <td>Updated</td><td>{{post?.updateDate}}<span>{{post!.updateTime}}</span></td>
    </tr>
    <tr>
      <td>Content</td><td><p [innerHTML]="post?.content"></p> </td>
    </tr>
  </table>
  <br>
            <img src="{{post?.retrievedImage}}" height="200" width="200">
<br><br>

  <a class="btn btn-small btn-warning" (click)="editPost()">edit</a>
  <a class="btn btn-small btn-danger" (click)="deletePost()">delete</a>

</div>
